doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Project Supervision Appointment Management System
    link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      header: nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        button.navbar-toggler(type="button", data-toggle="collapse", 
          data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", 
          aria-label="Toggle navigation"): span.navbar-toggler-icon
        a.navbar-brand(href=".") Project Supervision Appointment Management System
        .collapse.navbar-collapse(id="navbarNavDropdown"): ul.navbar-nav.ml-auto
          if isLoggedIn
            li.nav-item: a.nav-link(href="/logout") Logout
          else
            li.nav-item: a.nav-link(href="/login") Log In
            li.nav-item: a.nav-link(href="/register") Register
    block alert
      while message = flash.shift()
        .alert.alert-dismissible.fade.show(class=`alert-${message.type}`, role="alert") #{message.message}
          button.close(type="button", data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
    block content
    block footer
      footer: .container: span.text-muted &copy; Group 1 
    script(src="/js/vendor.js")
    script(src="/javascripts/main.js")
